#cards {
  display: flex;
  /* 容器寬度的預設值為視窗大小 */

  /* 換行 */
  flex-wrap: wrap;

}

.card {
  /* flex-basis: 7%; 每一橫列要有 13 張卡片，100 / 13=7.7
      flex-grow: 0; 不要分配剩餘空間，1 代表平分
      flex-shrink: 1; 視窗變小，flex item 就需要收縮 */
  flex: 7% 0 1;
  /* 視窗大小的 8% */
  height: 8vw;
  border: 2px solid #e0e0e0;

  /* 變成一個 flex 容器，ITEM順序從上到下，再從左到右 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  /* 卡片邊距 */
  margin: 2px;
  /* 設定 box-sizing*/
  box-sizing: border-box;
}

/* 調整花色 */
.card img {
  max-width: 30%;
  align-self: center;
}

/* 調整卡片數字 */
.card p {
  margin: 3px;
  font-size: 10px;
}

/* 同一階層的同類元素中，選出最後面的元素 */
.card p:last-child {
  transform: rotate(180deg);
}