#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}

#header .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#header .title img {
  max-width: 3em;
}

#header .title h2 {
  padding-left: 0.5em;
}

#header .score {
  margin: 0;
  color: #6c90ac;
}

#header .tried {
  margin-top: 0;
}

#cards {
  display: flex;
  /* 容器寬度的預設值為視窗大小 */
  flex-wrap: wrap;
  /* 換行 */
  width: 85%;
  /* 寬度和標頭一致 */
  margin: 0 auto;
  /* 置中 */
}

.card {
  /* 設定 box-sizing*/
  box-sizing: border-box;
  /* flex-basis: 7%; 每一橫列要有 13 張卡片，100 / 13=7.7
      flex-grow: 0; 不要分配剩餘空間，1 代表平分
      flex-shrink: 1; 視窗變小，flex item 就需要收縮 */
  flex: 7% 1 1;
  /* 視窗大小的 8% */
  height: 8vw;
  border: 2px solid #e0e0e0;
  /* 卡片邊距 */
  margin: 2px;

  /* 變成一個 flex 容器，ITEM順序從上到下，再從左到右 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* 調整花色 */
.card img {
  max-width: 30%;
  align-self: center;
}

/* 調整卡片數字 */
.card p {
  margin: 3px;
  font-size: 10px;
}

/* 同一階層的同類元素中，選出最後面的元素 */
.card p:last-child {
  transform: rotate(180deg);
}

/* 牌背樣式 */
.back {
  background: url('./assets/back.png');
  background-size: cover;
}

/* 改變已配對的卡片底色 */
.paired {
  background-color: #dae0e3;
}

.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  /* 動畫要持續 0.2 秒*/
  animation-iteration-count: 5;
  /* 動畫要重覆 5 次 */
}

@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}

/** 遊戲結束畫面 **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}

.completed>p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}

.completed>p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}